shell=sh # Enforce POSIX sh

# Disabled this check as we are using busybox sh which can do these
disable=SC3060 # In POSIX sh, string replacement is undefined.
disable=SC3057 # In POSIX sh, string indexing is undefined.
disable=SC3001 # In POSIX sh, process substitution is undefined.

# name:    avoid-nullary-conditions
# desc:    Suggest explicitly using -n in `[ $var ]`
# example: [ "$var" ]
# fix:     [ -n "$var" ]
enable=avoid-nullary-conditions

# name:    check-extra-masked-returns
# desc:    Check for additional cases where exit codes are masked
# example: rm -r "$(get_chroot_dir)/home"
# fix:     set -e; dir="$(get_chroot_dir)"; rm -r "$dir/home"
enable=check-extra-masked-returns

# name:    check-set-e-suppressed
# desc:    Notify when set -e is suppressed during function invocation
# example: set -e; func() { cp *.txt ~/backup; rm *.txt; }; func && echo ok
# fix:     set -e; func() { cp *.txt ~/backup; rm *.txt; }; func; echo ok
enable=check-set-e-suppressed
